/* 基本設定 */
* {
    font-size: 20px;
    box-sizing: border-box;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    text-align: center;
}

/* main.css */



#loadMoreBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


/*如果螢幕寬度為 360px 以上 且 600px 以下，就套用 css 設定*/
@media screen and (min-width: 360px) and (max-width: 600px) {


    /* 基本設定 */
    * {
        font-size: 20px;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }

    img {
        height: 50px;
        width: 80px;
        margin-right: 10px;
    }

    .off-btn {
        height: 20px;
        width: 20px;
        position: fixed;
        z-index: 1;
        right: 10px;
        top: 10px;
    }

    .nav {
        display: flex;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .left {
        font-weight: bold;
        justify-content: flex-start;
    }

    .bg-btn {
        display: block;
        height: 50px;
        width: 50px;
        margin-left: 20px;
        margin-right: 0px;
        align-items: center;
        justify-content: flex-end;
    }

    .mid {
        display: flex;
        flex: auto;
        justify-content: flex-end;
    }

    .right {
        display: block;
        position: fixed;
        z-index: 1;
        right: -300px;
        top: 0px;
        width: 50%;
        height: 100%;
        background-color: aliceblue;
        flex-direction: column;
        box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all .5s ease;
    }

    .right-show {
        display: block;
        position: fixed;
        z-index: 1;
        right: 0px;
        top: 0px;
        width: 50%;
        height: 100%;
        background-color: aliceblue;
        flex-direction: column;
        box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
        opacity: 1;
        transition: all .5s ease-in-out;
    }

    .item {
        display: flex;
        padding: 25px 0;
        /* margin-left: 25px; */
        align-items: center;
        justify-content: center;
    }

    .welcome {
        display: flex;
        height: 250px;
        font-size: 6.6vw;
        font-weight: bold;
        background-color: rgb(206, 227, 237);
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }

    .frame {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 90%;
        /* width: 1200px; */
        margin-top: 20px;
    }

    /* small box */
    .small-box {
        /* border: solid 1px; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .small-box>div {
        /* border: solid 1px; */
        background-color: rgb(206, 227, 237);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


    /* big box */
    .big-box {
        /* border: solid 1px; */
        margin-top: 20px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 20px;
        position: relative;
    }

    .big-box div {
        /* border: solid 1px; */
        background-image: url(./bear.jpg);
        background-size: cover;
        height: 200px;
        position: relative;
    }


    span {
        background-color: rgba(105, 248, 255, 0.518);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding: 10px 0;
    }

    .star-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 10px;
        opacity: 0.5;
    }

    .star-img:hover {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 10px;
        opacity: 0.8;
    }
}


/*如果螢幕寬度為 600px 以上 且 1200px 以下，就套用 css 設定*/
@media screen and (min-width: 600px) and (max-width: 1200px) {


    /* 基本設定 */
    * {
        font-size: 20px;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }

    img {
        height: 50px;
        width: 80px;
        margin-right: 10px;
    }

    .off-btn {
        display: none;
    }

    .nav {
        display: flex;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .left {
        font-weight: bold;
        justify-content: flex-start;
    }

    .right {
        display: flex;
        flex: auto;
        justify-content: flex-end;
    }

    .bg-btn {
        display: none;
    }

    .item {
        margin-left: 25px;
    }

    .welcome {
        display: flex;
        height: 250px;
        font-size: 40px;
        font-weight: bold;
        background-color: rgb(206, 227, 237);
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .frame {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 90%;
        /* width: 1200px; */
        margin-top: 20px;
    }

    /* small box */
    .small-box {
        /* border: solid 1px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .small-box>div {
        /* border: solid 1px; */
        background-color: rgb(206, 227, 237);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .p3 {
        /* grid-column: 1 / -1; */
    }

    /* big box */
    .big-box {
        /* border: solid 1px; */
        margin-top: 20px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        position: relative;
    }

    .big-box div {
        /* border: solid 1px; */
        background-image: url(./bear.jpg);
        background-size: cover;
        height: 200px;
        width: auto;
        position: relative;
    }

    .p9 {
        grid-column: 1 / 3;
    }

    .p10 {
        grid-column: 3 / 5;
    }

    span {
        background-color: rgba(105, 248, 255, 0.518);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding: 10px 0;
    }

    .star-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 10px;
        opacity: 0.5;
    }

    .star-img:hover {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 10px;
        opacity: 0.8;
    }
}


/*如果螢幕寬度為 1200px 以上 且 1920px 以下，就套用 css 設定*/
@media screen and (min-width: 1200px) and (max-width: 1920px) {

    /* 基本設定 */
    * {
        font-size: 20px;
        box-sizing: border-box;
    }

    img {
        height: 50px;
        width: 80px;
        margin-right: 10px;
    }

    .off-btn {
        display: none;
    }

    .nav {
        display: flex;
        padding: 0 15px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .left {
        font-weight: bold;
        justify-content: flex-start;
    }

    .right {
        display: flex;
        flex: auto;
        justify-content: flex-end;
    }

    .bg-btn {
        display: none;
    }

    .item {
        margin-left: 25px;
    }

    .welcome {
        display: flex;
        height: 250px;
        font-size: 40px;
        font-weight: bold;
        background-color: rgb(206, 227, 237);
        justify-content: center;
        align-items: center;
        margin-top: 10px;

    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .frame {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 1200px;
        margin-top: 20px;
    }

    /* small box */
    .small-box {
        display: grid;
        grid-auto-rows: 50px;
        grid-template-columns: 400px repeat(2, 1fr);
        grid-auto-flow: column;
        gap: 20px;
    }

    .small-box>div {
        /* border: solid 1px; */
        background-color: rgb(206, 227, 237);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    /* big box */
    .big-box {
        margin-top: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 400px repeat(4, 1fr);
        gap: 20px;
        position: relative;
    }

    .big-box div {
        /* border: solid 1px; */
        background-image: url(./bear.jpg);
        background-size: cover;
        height: 200px;
        position: relative;
    }

    span {
        background-color: rgba(105, 248, 255, 0.518);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding: 10px 0;
    }

    .star-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 10px;
        opacity: 0.5;
    }

    .star-img:hover {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 10px;
        opacity: 0.8;
    }

}